# Pytorch Models
*.pt
*.pth
*.ckpt

# Output directories
resultados/
checkpoints/
__pycache__/
outputs/
*cache/

# Large files and datasets
*.h5
*.npy
*.npz
*.csv
*.zip
*.pkl
*.log

# Python
.env
venv/

# LaTeX auxiliaries
*.aux
*.bbl
*.blg
*.toc
*.lof
*.lot
*.lol
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.log
